<form ng-submit="ctrl.submit(F)" name="F" novalidate="novalidate" class="container questioncontainter"><h1
		class="col-12 text-center">Hai una domanda a cui non trovi risposta?</h1>
	<p class="text-center">Poni la tua domanda e lasciaci il tuo indirizzo e-mail:<br />i nostri esperti o direttamente il nostro sistema ti invierà la
		risposta!</p>
	<div class="col-12 col-lg-8 offset-lg-2 questionrow">
		<div class="formblock"><label for="question" class="col-12 questionlabel">Fai la tua domanda</label><textarea
				name="question" id="question" ng-model="ctrl.question.question" minlength="30" maxlength="200" rows="2"
				placeholder="Quanto fa 2+2?" required="required" novalidate="novalidate"
				class="col-12 questioninput"></textarea>
			<div ng-show="F.question.$invalid &amp;&amp; F.question.$touched" class="formerrors"><p
					ng-show="F.question.$error.required" class="alert warning">Devi inserire la domanda</p>
				<p ng-show="F.question.$error.minlength" class="alert warning">Domanda troppo corta</p>
				<p ng-show="F.question.$error.maxlength" class="alert warning">Domanda troppo lunga</p></div>
		</div>
	</div>
	<div class="col-12 col-lg-8 offset-lg-2 questionrow">
		<div class="formblock"><label for="email" class="col-12 questionlabel">La tua e-mail</label><input name="email"
																										   id="email"
																										   ng-model="ctrl.question.email"
																										   ng-pattern="/^[a-z]+[a-z0=9._]+@[a-z]+.[a-z.]{2,5}$/"
																										   type="email"
																										   placeholder="user@domain.com"
																										   required="required"
																										   class="col-12 questioninput"/>
			<div ng-show="F.email.$invalid &amp;&amp; F.email.$touched" class="formerrors"><p
					ng-show="F.email.$error.required" class="alert warning">Devi inserire un'email</p>
				<p ng-show="F.email.$error.pattern" class="alert warning">E-mail non valida</p></div>
		</div>
	</div>
	<input ng-disabled="F.$invalid" type="submit" value="chiedi e ti sarà risposto"
		   class="btn submit col-12 col-lg-4 offset-lg-4"/></form>
